<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <app-sidebar></app-sidebar>
        <div class="layout-page justify-content-between">
            <div>
                <app-header></app-header>
                <div class="container-fluid flex-grow-1 container-p-y">
                    <app-error></app-error>
                    <app-root></app-root>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>