<div class="accordion mt-3" id="accordionExample">
    <div class="card accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#accordionTwo"
          aria-expanded="false"
          aria-controls="accordionTwo"
        >
          Accordion Item 2
        </button>
      </h2>
      <div
        id="accordionTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          vDessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.

          Dessert ice cream donut oat cake jelly-o pie sugar plum cheesecake. Bear claw dragée oat cake
          dragée ice cream halvah tootsie roll. Danish cake oat cake pie macaroon tart donut gummies.
          Jelly beans candy canes carrot cake. Fruitcake chocolate chupa chups.
        </div>
      </div>
    </div>
    <div class="card accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          type="button"
          class="accordion-button collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#accordionThree"
          aria-expanded="false"
          aria-controls="accordionThree"
        >
          Accordion Item 3
        </button>
      </h2>
      <div
        id="accordionThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          Oat cake toffee chocolate bar jujubes. Marshmallow brownie lemon drops cheesecake. Bonbon
          gingerbread marshmallow sweet jelly beans muffin. Sweet roll bear claw candy canes oat cake
          dragée caramels. Ice cream wafer danish cookie caramels muffin.
        </div>
      </div>
    </div>
  </div>