<div class="card">
    <app-header-target 
        [isShowDpcrData]="dpcrService.storageIsShowDpcrData()"
        (isAddDpcr)="isAddDpcr=$event; dpcrObj={}" 
        (handleShowDpcrData)="handleShowDpcrData($event)"
    />

    <app-table-dpcr *ngIf="!dpcrService.storageIsShowDpcrData()" 
        [dpcr]="dpcr" 
        (getDpcrData)="GetDPCRData()"
        (setDpcr)="dpcrObj=$event" 
        (setDpcrActive)="SetDpcrActive($event)"
        (isAddDpcr)="isAddDpcr=$event" 
        (deleteDpcr)="DeleteDpcr($event)"
    />
</div>

<div class="row my-4" *ngIf="dpcrService.storageIsShowDpcrData() && !isShowSubtask">
    <div [ngClass]="isShowCanvasOpcrMfoes?'col-6':'col-12'">
        <app-table-dpcr-data 
            *ngIf="dpcrData.data.length > 0"
            [dpcrData]="dpcrData"
            (setDataSubTask)="setDpcrDataObj($event)"
            (isShowSubtask)="isShowSubtask=$event"
            (showCanvasOpcrMfoes)="isShowCanvasOpcrMfoes=$event"
            [isShowCanvasOpcrMfoes]="isShowCanvasOpcrMfoes"
            (deleteDpcrDataIndicator)="DeleteDPCRData($event)" 
            (deleteSubtask)="DeleteSubtask($event)" 
        />

        <app-empty-data *ngIf="dpcrData.data.length == 0 && !dpcrData.isLoading">
            <button *ngIf="!isShowCanvasOpcrMfoes" (click)="isShowCanvasOpcrMfoes = true" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDpcrMfoes" class="btn btn-primary text-center m-2">OPCR MFOES</button>
        </app-empty-data>
    </div>
    <!-- <div class="col-6">
        <app-table-dpcr-data-mfoes 
            [dpcrDataMfoes]="dpcrDataMfoes" 
            (setDpcrDataObj)="setDpcrDataObj($event)" 
        />
    </div> -->
</div>

<app-view-subtask *ngIf="isShowSubtask" 
    [mfoId]="dpcrMFOData.mfoId" 
    (setDataSubTask)="setDpcrDataObj($event)" 
    (isShowSubtask)="isShowSubtask=$event"
/>

<app-canvas-target-dpcr 
    [dpcrObj]="dpcrObj" 
    [isAddDpcr]="isAddDpcr"
    (submit)="isAddDpcr? AddDpcr(): EditDpcr()" 
/>

<app-modal-dpcr-data 
    [dpcrMFOData]="dpcrMFOData" 
    [dpcrSIData]="dpcrSIData" 
    [error]="dpcrData.error" 
    (submit)="AddDpcrData()"
/>

<app-modal-dpcr-data-edit-quantity 
    [dpcrSIData]="dpcrSIData" 
    (submit)="EditDpcrData()"
/>

<app-modal-sub-task 
    [dpcrMFOData]="dpcrMFOData" 
    [dpcrSIData]="dpcrSIData" 
    (submitSubTask)="AddSubTask($event)"
/>

<app-canvas-target-dpcr-mfoes 
    [dpcrDataMfoes]="dpcrDataMfoes"
    (hideCanvasOpcrMfoes)="isShowCanvasOpcrMfoes=$event"
    (setDpcrDataObj)="setDpcrDataObj($event)" 
/>