<div class="card">
    <div class="row">
        <div class="col-8">
            <div class="card-header p-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 m-0">
                        <li class="breadcrumb-item">
                            <a><i class='bx bx-briefcase'></i>&nbsp;Utility</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a><i class="bx bx-receipt"></i>&nbsp;Logs</a>
                        </li>
                        <li *ngIf="flag" class="breadcrumb-item active">
                            <a><i class='bx bx-book-open'></i>&nbsp;Full Logs</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div *ngIf="flag" class="col-4" style="margin-top:20px">
            <a (click)="arrowbackFunction()" class="pointer float-end">
                <span class="row px-4">
                    <i class="bx bx-arrow-back"></i>
                </span>
            </a>
        </div>
        <!-- <div *ngIf="!flag" class="col-4">
            <div class="pt-4" style="margin-right: 5px; margin-top: -15px">
                <button (click)="post_all_logs()" class="btn btn-primary float-end" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasScroll" aria-controls="offcanvasScroll">
                    <i class='bx bx-book-open'></i>&nbsp;Full Logs
                </button>
            </div>
        </div> -->
    </div>
</div>
<br>
<div *ngIf="!flag">
    <div class="pt-4" style="margin-right: 5px; margin-top: -15px">
        <button (click)="post_all_logs()" class="btn btn-outline-primary float-end" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#offcanvasScroll" aria-controls="offcanvasScroll">
            <i class='bx bx-book-open'></i>&nbsp;Full Logs
        </button>
    </div>
</div>
<ol *ngIf="!flag" class="timeline">
    <h3> <span class="badge rounded-pill bg-primary">{{"10 Latest Data only"}}</span></h3>
    <ng-container *ngFor="let x of fetch_logs; let i = index">
        <li class="timeline-item">
            <span class="timeline-item-icon faded-icon" [style.color]="colorScheme(x.methodId)"
                [style.background]="backgroundScheme(x.methodId)">
                <i class='bx {{iconScheme(x.methodId)}}'></i>
            </span>
            <div class="card">
                <div class="card-body">
                    <div class="timeline-item-description">
                        <i class="avatar small">
                            <!-- <img [src]="get_profile_picture(x.eic) ? profilePicture.imageDataURL : './assets/img/avatars/user_picture.png'" /> -->
                            <img [src]="x.imageExtracted? x.imageExtracted: './assets/img/avatars/user_picture.png'" />
                        </i>
                        <span>{{x.officeNameShort}}&nbsp;<a href="#">{{x.fullNameFirst}}</a> has <a
                                style="color: black;"><strong>{{x.method}}</strong></a>&nbsp;<a
                                href="#">{{x.description}}</a> Table on
                            <a href="#">{{x.transDate | date : "MMM. dd, yyyy h:mm a"}}</a>
                        </span>
                    </div>
                </div>
            </div>
        </li>
    </ng-container>
</ol>
<div *ngIf="flag" class="row">
    <div class="col-8">
        <div class="form-floating">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                [(ngModel)]="selectedOfficeId" (ngModelChange)="onSelectChange()">
                <option selected disabled hidden>Open this select menu</option>
                <option *ngFor="let office of fetch_office" [value]="office.officeId">{{ office.officeNameShort }}
                </option>
            </select>
            <label for="floatingSelect"><i class='bx bx-sort'></i>&nbsp;Sort by OFFICE</label>
        </div>
    </div>
    <div class="col-4">
        <div class="form-floating">
            <input [(ngModel)]="search" (ngModelChange)="searchLogs()" type="text" class="form-control"
                id="floatingText" placeholder="Search...">
            <label for="floatingPassword"><i class='bx bx-search-alt-2'></i>&nbsp;Search</label>
        </div>
    </div>
</div>
<br>
<div *ngIf="flag" class="card">
    <ng-container *ngIf="!loading; else logsSkeletonLoading">
        <div class="table-responsive text-nowrap">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>OFFICE</th>
                        <th>USER</th>
                        <th>DESCRIPTION</th>
                        <th>MODIFIED</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr *ngFor="let y of fetch_logs_complete; let i = index">
                        <td> <strong>{{(page.pageNumber -1) * (page.pageSize) + (i+1) }}.</strong></td>
                        <td>
                            <li data-bs-toggle="tooltip" data-popup="tooltip-custom" data-bs-placement="top"
                                class="avatar avatar-xs pull-up" [title]="y.fullNameFirst">
                                <!-- <img [src]="profilePicture.imageDataURL? profilePicture.imageDataURL: './assets/img/avatars/user_picture.png'"
                                    alt="Avatar" class="rounded-circle" /> -->
                                <img [src]="y.imageExtracted? y.imageExtracted: './assets/img/avatars/user_picture.png'"
                                    alt="Avatar" class="rounded-circle" />
                            </li>
                        </td>
                        <td>{{y.officeNameShort}}</td>
                        <td>{{y.fullNameFirst}}</td>
                        <td><span class="badge" [ngClass]="
                            y.methodId == '1'
                              ? 'bg-label-success'
                              : y.methodId == '2'
                              ? 'bg-label-primary'
                              : y.methodId == '3'
                              ? 'bg-label-danger'
                              : y.methodId == '4'
                              ? 'bg-label-danger'
                              :''
                          ">{{y.method}}</span></td>
                        <td>{{y.description}}&nbsp;<span>Table</span></td>
                        <td>{{y.transDate | date : "MMM. dd, yyyy h:mm a"}}</td>
                    </tr>
                </tbody>
                <tfoot class="table-border-bottom-0">
                    <tr>
                        <th colspan="8">
                            <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)"
                                [length]="page.totalItems" [pageSize]="page.pageSize" [disabled]="disabled"
                                [showFirstLastButtons]="showFirstLastButtons"
                                [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                                [hidePageSize]="hidePageSize" [pageIndex]="page.pageNumber - 1 "
                                aria-label="Select page">
                            </mat-paginator>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </ng-container>
    <ng-template #logsSkeletonLoading>
        <app-logs-skeleton></app-logs-skeleton>
    </ng-template>
</div>