.pointer {
    cursor: pointer;
}

.thick-border {
    border: 2px solid lightgray; /* You can adjust the thickness and color as needed */
  }

  .text-right {
    text-align: right;
  }

  .scrollable-container {
    max-height: 1500px; /* Set the maximum height as needed */
    overflow-y: auto; /* Enable vertical scroll when content overflows */
}

.scrollable-details{
  max-height: 450px; /* Set the maximum height as needed */
  overflow-y: auto; /* Enable vertical scroll when content overflows */
}

.offcanvas-end-modified{
  width: 40%;
  border-left: 1px solid rgba(67, 89, 113, 0.2);
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: rgba(67, 89, 113, 0.2);
}

.center-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Optional: Makes the container take the full viewport height */
}






  