<body>
  <div class="bg-img">
    <div class="container-xxl">
      <div class="authentication-wrapper container-p-y">
        <div class="authentication-inner">
          <div class="card login-card">
            <div class="card-body">
              <div class="app-brand justify-content-center">
                <a href="index.html" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img src="./assets/img/hrismaroon2022.png" width="40" viewBox="0 0 25 42" version="1.1" />
                  </span>
                  <span class="app-brand-text demo text-body fw-bolder">HRIS</span>
                </a>
              </div>
              <br />
              <!-- Verification Form -->
              <ng-container *ngIf="!pwRequest.isSuccess; else ShowOTPForm">
                <p class="mb-1 x-center fw-bold">Password reset request</p>
                <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
                  <div class="mb-3">
                    <label for="email" class="form-label">Username</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bxs-user"></i></span>
                      <input [(ngModel)]="pwRequest.username" type="text" class="form-control" id="email"
                        name="email-username" placeholder="Enter your username" autofocus />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bxs-envelope"></i></span>
                      <input [(ngModel)]="pwRequest.email" type="text" class="form-control" id="email" name="email"
                        placeholder="Enter your email" autofocus />
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="email" class="form-label">Contact number</label>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bxs-phone"></i></span>
                      <input [(ngModel)]="pwRequest.contactNo" type="text" class="form-control" id="email"
                        name="contactNo" placeholder="Enter your contact number" autofocus />
                    </div>
                  </div>

                  <div class="mb-3">
                    <ng-container>
                      <button (click)="passwordResetRequest()" [disabled]="pwRequest.isLoading"
                        class="btn btn-primary d-grid w-100 align-items-center justify-content-center" type="submit">
                        <ng-container *ngIf="!pwRequest.isLoading; else isLoad">Submit</ng-container>
                      </button>
                    </ng-container>
                    <ng-template #isLoad>
                      <div class="py-1.5">
                        <div class="spinner-border spinner-border-sm text-white" role="status">
                          <span class="visually-hidden">Loading...</span>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </form>
              </ng-container>
              <!-- OTP Form -->
              <ng-template #ShowOTPForm>
                <ng-container *ngIf="!vCode.isSuccess; else ShowChangePWForm">
                  <div class="container mt-1 text-center">
                    <h1 class="fw-semibold">Authentication</h1>
                    <ng-container *ngIf="!isTimeOut; else OTPTimeout">
                      <h3 class="fw-light fs-6 x-start">Your one-time password is sent to your</h3>
                      <h3 class="fw-light fs-6 x-start">
                        &nbsp;<i class='bx bx-check text-success'></i> Registered mobile number <span
                          class="fw-semibold">
                          &nbsp; {{maskContactNumber(pwRequest.contactNo)}}</span>
                      </h3>
                      <h6 class="fw-lighter fs-tiny x-start">Enter OTP Code</h6>
                      <div class="d-flex justify-content-center gap-2">
                        <input *ngFor="let digit of otpArray; let i = index" #otpInput type="text"
                          class="form-control otp-input text-center" [ngClass]="vCode.isOtpFailed ? 'error-border': ''"
                          maxlength="1" (input)="onOtpInput($event, i)" (keydown)="onKeyDown($event, i)" />
                      </div>
                      <div *ngIf="vCode.isOtpFailed">
                        <span class="fs-tiny text-danger"><i class='bx bx-error'></i>{{vCode.message}}</span>
                      </div>
                      <h3 class="fw-light fs-6 x-start mt-2">OTP will expire in <span class="text-success fw-bold">
                          &nbsp; {{ minutes }}:{{ seconds < 10 ? '0' + seconds : seconds }}</span>
                      </h3>
                      <button (click)="backFromOtp()" class="btn btn-secondary mt-1">Back</button> &nbsp;
                      <button (click)="verifyOtp()" [disabled]="vCode.isLoading" class="btn btn-primary mt-1 "><span
                          *ngIf="!vCode.isLoading; else isLoadOtp">Verify OTP</span></button>
                      <ng-template #isLoadOtp>
                        <div class="py-1.5">
                          <div class="spinner-border spinner-border-sm text-white" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        </div>
                      </ng-template>
                    </ng-container>
                    <ng-template #OTPTimeout>
                      <h3 class="fw-light fs-6 x-start">Your OTP has expired</h3>
                      <button (click)="backFromOtp()" class="btn btn-secondary mt-1">Back</button> &nbsp;
                      <button [disabled]="vCode.isLoading" (click)="resendOtp()" class="btn btn-primary mt-1">Resend
                        OTP</button>
                    </ng-template>
                  </div>
                </ng-container>

              </ng-template>
              <!-- New Password Form -->
              <ng-template #ShowChangePWForm>
                <div class="container mt-1 text-center">
                  <h1 class="fw-semibold">New password</h1>
                  <h3 class="fw-light fs-6 x-start">Please fill out your new password.</h3>
                  <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                      <label class="form-label" for="password">New Password</label>
                    </div>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bxs-key"></i></span>
                      
                      <input [(ngModel)]="pwData.passWord" 
                             [type]="passwordVisible ? 'text' : 'password'" 
                             id="passWord" 
                             class="form-control"
                             name="passWord"
                             placeholder="••••••••••••"
                             (keydown)="checkPasswordLength()"            
                             aria-describedby="passWord" />
                  
                      <!-- Toggle Button -->
                      <span class="input-group-text" (click)="togglePassword()" style="cursor: pointer;">
                        <i class="bx" [ngClass]="passwordVisible ? 'bxs-show' : 'bxs-hide'"></i>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="isPwNot6length">
                    <span class="fs-tiny text-info"><i class='bx bx-info-circle'></i>New password must be at least 6 characters long.</span>
                  </div>

                  <div class="mb-3 form-password-toggle">
                    <div class="d-flex justify-content-between">
                      <label class="form-label" for="password">Confirm Password</label>
                    </div>
                    <div class="input-group input-group-merge">
                      <span class="input-group-text"><i class="bx bxs-key"></i></span>
                      
                      <input [(ngModel)]="pwData.confirmpassWord" 
                             [type]="passwordConfirmVisible ? 'text' : 'password'" 
                             id="confirmpassWord" 
                             class="form-control"
                             name="confirmpassWord"
                             placeholder="••••••••••••"
                             (keydown)="onCheckMatchPW()"            
                             aria-describedby="confirmpassWord" />
                  
                      <!-- Toggle Button -->
                      <span class="input-group-text" (click)="toggleConfirmPassword()" style="cursor: pointer;">
                        <i class="bx" [ngClass]="passwordConfirmVisible ? 'bxs-show' : 'bxs-hide'"></i>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="isPwNotMatch">
                    <span class="fs-tiny text-danger"><i class='bx bx-error'></i>Password not matched.</span>
                  </div>

                  <button (click)="backFromOtp()" class="btn btn-secondary mt-1">Back</button> &nbsp;
                  <button (click)="submitNewPw()" [disabled]="pwData.isLoading || isPwNotMatch" class="btn btn-primary mt-1 "><span
                      *ngIf="!pwData.isLoading; else isSubmitPw">Submit</span></button>
                  <ng-template #isSubmitPw>
                    <div class="py-1.5">
                      <div class="spinner-border spinner-border-sm text-white" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </ng-template>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>