<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="height: 100%;">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img width="40" viewBox="0 0 25 42" version="1.1" src="./assets/img/hrismaroon2022.png">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">HRIS</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>


        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">SPMS</span>
        </li>

        <!-- SPMS -->
        <li class="menu-item" [ngClass]="sample==1?'open':''" routerLinkActive="active">
            <a routerLink="user" class="menu-link menu-toggle" (click)="toggleSubMenu(1)">
                <i class="menu-icon tf-icons bx bx-cube"></i>
                <div data-i18n="Layouts">Major Final Output</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/mfo/office" class="menu-link">
                        <div data-i18n="Without menu">Office</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item" [ngClass]="sample1==1?'open':''" routerLinkActive="active">
            <a routerLink="user" class="menu-link menu-toggle" (click)="toggleSubMenu1(1)">
                <i class="menu-icon tf-icons bx bx-buildings"></i>
                <div data-i18n="Layouts">OPCR</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/opcr/target" class="menu-link">
                        <div data-i18n="Without menu">Target</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/opcr/actual" class="menu-link">
                        <div data-i18n="Without menu">Actual</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item" [ngClass]="sample2==1?'open':''" routerLinkActive="active">
            <a routerLink="user" class="menu-link menu-toggle" (click)="toggleSubMenu2(1)">
                <i class="menu-icon tf-icons bx bx-home-smile"></i>
                <div data-i18n="Layouts">DPCR</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/dpcr/target" class="menu-link">
                        <div data-i18n="Without menu">Target</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/dpcr/actual" class="menu-link">
                        <div data-i18n="Without menu">Actual</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item" [ngClass]="sample3==1?'open':''" routerLinkActive="active">
            <a routerLink="user" class="menu-link menu-toggle" (click)="toggleSubMenu3(1)">
                <i class="menu-icon tf-icons bx bx-user"></i>
                <div data-i18n="Layouts">IPCR</div>
            </a>

            <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/ipcr/target" class="menu-link">
                        <div data-i18n="Without menu">Target</div>
                    </a>
                </li>
            </ul>
            <!-- <ul class="menu-sub">
                <li class="menu-item" routerLinkActive="active">
                    <a routerLink="spms/ipcr/actual" class="menu-link">
                        <div data-i18n="Without menu">Actual</div>
                    </a>
                </li>
            </ul> -->
            <!-- OTS -->
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="spms/ots/index" class="menu-link">
                <i class='menu-icon tf-icons bx bx-notepad'></i>
                <div data-i18n="Analytics">OTS</div>
            </a>
        </li>
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="spms/utility/user-division" class="menu-link">
                <i class='menu-icon tf-icons bx bx-notepad'></i>
                <div data-i18n="Analytics">Division</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->