<!-- Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme" style="height: 100%;">
    <div class="app-brand demo">
        <a href="index.html" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img width="40" viewBox="0 0 25 42" version="1.1" src="./assets/img/hrismaroon2022.png">
            </span>
            <span class="app-brand-text demo menu-text fw-bolder ms-2">HRIS</span>
        </a>
        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item" routerLinkActive="active">
            <a routerLink="dashboard" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">SPMS</span>
        </li>

        <!-- SPMS -->
        <ng-container *ngFor="let data of menu.data; let i = index">
            <ng-container *ngIf="data.subMenu.length > 0; else ShowNoSubMenu">
                <li class="menu-item" [ngClass]="selectedMenu === data.menuName?'open':''" routerLinkActive="active">
                    <a *ngIf="!menu.isLoading; else LoadingMenu" routerLink="user" class="menu-link menu-toggle"
                        (click)="toogle(data.menuName)">
                        <i class="menu-icon tf-icons" [ngClass]="data.menuIcon"></i>
                        <div data-i18n="Layouts">{{data.menuName}}</div>
                    </a>
                    <ng-template #LoadingMenu>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </ng-template>
                    <ng-container *ngFor="let sb of data.subMenu; let y = index">
                        <ul class="menu-sub">
                            <li class="menu-item" routerLinkActive="active">
                                <a [routerLink]="sb.subMenuLink" class="menu-link">
                                    <div data-i18n="Without menu">{{sb.subMenuName}}</div>
                                </a>
                            </li>
                        </ul>
                    </ng-container>
                </li>
            </ng-container>
            <ng-template #ShowNoSubMenu>
                <li class="menu-item" routerLinkActive="active">
                    <a *ngIf="!menu.isLoading; else LoadingOts" [routerLink]="data.menuLink" class="menu-link">
                        <i class='menu-icon tf-icons' [ngClass]="data.menuIcon"></i>
                        <div data-i18n="Analytics">{{data.menuName}}</div>
                    </a>
                    <ng-template #LoadingOts>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ng-template>
        </ng-container>
        <ng-container *ngIf="menu.data.length === 0">
            <li class="menu-item" [ngClass]="sample3==1?'open':''" routerLinkActive="active">
                <a *ngIf="!menu.isLoading; else LoadingIpcr" routerLink="user" class="menu-link menu-toggle"
                    (click)="toggleSubMenu3(1)">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div data-i18n="Layouts">IPCR</div>
                </a>
                <ng-template #LoadingIpcr>
                    <div class="row px-4 py-2">
                        <div class="col-2">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-10">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                        </div>
                    </div>
                </ng-template>
                <ul class="menu-sub">
                    <li class="menu-item" routerLinkActive="active">
                        <a routerLink="spms/ipcr/target" class="menu-link">
                            <div data-i18n="Without menu">Target</div>
                        </a>
                    </li>
                    <li class="menu-item" routerLinkActive="active">
                        <a routerLink="spms/ipcr/actual" class="menu-link">
                            <div data-i18n="Without menu">Actual</div>
                        </a>
                    </li>
                </ul>
                <!-- <ul class="menu-sub">
                    <li class="menu-item" routerLinkActive="active">
                        <a routerLink="spms/ipcr/actual" class="menu-link">
                            <div data-i18n="Without menu">Actual</div>
                        </a>
                    </li>
                </ul> -->
            </li>
            <li class="menu-item" routerLinkActive="active">
                <a *ngIf="!menu.isLoading; else LoadingOts" routerLink="spms/ots/index" class="menu-link">
                    <i class='menu-icon tf-icons bx bx-notepad'></i>
                    <div data-i18n="Analytics">OTS</div>
                </a>
                <ng-template #LoadingOts>
                    <div class="row px-4 py-2">
                        <div class="col-2">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-10">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="row px-4 py-2">
                        <div class="col-2">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-10">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="row px-4 py-2">
                        <div class="col-2">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-10">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="row px-4 py-2">
                        <div class="col-2">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-10">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="row px-4 py-2">
                        <div class="col-2">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-10">
                            <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ng-container>
    </ul>
</aside>

<!-- Menu Mobile -->
<div *ngIf="utilsService.isShowSidebar()"
    style="background-color: rgba(2, 133, 255, 0.1); height: 100%; width: 100%; position: absolute; z-index: 1900;">
    <aside id="layout-menu" class="menu-vertical menu bg-menu-theme"
        style="height: 100%; position: absolute; z-index: 2000;">
        <div class="app-brand demo">

            <a href="index.html" class="app-brand-link">
                <span class="app-brand-logo demo">
                    <img width="40" viewBox="0 0 25 42" version="1.1" src="./assets/img/hrismaroon2022.png">
                </span>
                <span class="app-brand-text demo menu-text fw-bolder ms-2">HRIS</span>
            </a>
            <a style="position: absolute; right: -15px;" (click)="setSidebarMobileView()">
                <i class="bx bx-chevron-left" style="font-size: 26px; padding: 4px; background-color: rgb(92, 108, 247);border-radius: 50%; color: white;box-shadow: 5px 0px 10px #b9b8b8;"></i>
            </a>
        </div>
        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item" routerLinkActive="active">
                <a routerLink="dashboard" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Analytics">Dashboard</div>
                </a>
            </li>
            <li class="menu-header small text-uppercase">
                <span class="menu-header-text">SPMS</span>
            </li>

            <!-- SPMS -->
            <ng-container *ngFor="let data of menu.data; let i = index">
                <ng-container *ngIf="data.subMenu.length > 0; else ShowNoSubMenu">
                    <li class="menu-item" [ngClass]="selectedMenu === data.menuName?'open':''"
                        routerLinkActive="active">
                        <a *ngIf="!menu.isLoading; else LoadingMenu" routerLink="user" class="menu-link menu-toggle"
                            (click)="toogle(data.menuName)">
                            <i class="menu-icon tf-icons" [ngClass]="data.menuIcon"></i>
                            <div data-i18n="Layouts">{{data.menuName}}</div>
                        </a>
                        <ng-template #LoadingMenu>
                            <div class="row px-4 py-2">
                                <div class="col-2">
                                    <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                        [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                                </div>
                                <div class="col-10">
                                    <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                        [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </ng-template>
                        <ng-container *ngFor="let sb of data.subMenu; let y = index">
                            <ul class="menu-sub">
                                <li class="menu-item" routerLinkActive="active">
                                    <a [routerLink]="sb.subMenuLink" class="menu-link">
                                        <div data-i18n="Without menu">{{sb.subMenuName}}</div>
                                    </a>
                                </li>
                            </ul>
                        </ng-container>
                    </li>
                </ng-container>
                <ng-template #ShowNoSubMenu>
                    <li class="menu-item" routerLinkActive="active">
                        <a *ngIf="!menu.isLoading; else LoadingOts" [routerLink]="data.menuLink" class="menu-link">
                            <i class='menu-icon tf-icons' [ngClass]="data.menuIcon"></i>
                            <div data-i18n="Analytics">{{data.menuName}}</div>
                        </a>
                        <ng-template #LoadingOts>
                            <div class="row px-4 py-2">
                                <div class="col-2">
                                    <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                        [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                                </div>
                                <div class="col-10">
                                    <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                        [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ng-template>
            </ng-container>
            <ng-container *ngIf="menu.data.length === 0">
                <li class="menu-item" [ngClass]="sample3==1?'open':''" routerLinkActive="active">
                    <a *ngIf="!menu.isLoading; else LoadingIpcr" routerLink="user" class="menu-link menu-toggle"
                        (click)="toggleSubMenu3(1)">
                        <i class="menu-icon tf-icons bx bx-user"></i>
                        <div data-i18n="Layouts">IPCR</div>
                    </a>
                    <ng-template #LoadingIpcr>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </ng-template>
                    <ul class="menu-sub">
                        <li class="menu-item" routerLinkActive="active">
                            <a routerLink="spms/ipcr/target" class="menu-link">
                                <div data-i18n="Without menu">Target</div>
                            </a>
                        </li>
                        <li class="menu-item" routerLinkActive="active">
                            <a routerLink="spms/ipcr/actual" class="menu-link">
                                <div data-i18n="Without menu">Actual</div>
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="menu-sub">
                        <li class="menu-item" routerLinkActive="active">
                            <a routerLink="spms/ipcr/actual" class="menu-link">
                                <div data-i18n="Without menu">Actual</div>
                            </a>
                        </li>
                    </ul> -->
                </li>
                <li class="menu-item" routerLinkActive="active">
                    <a *ngIf="!menu.isLoading; else LoadingOts" routerLink="spms/ots/index" class="menu-link">
                        <i class='menu-icon tf-icons bx bx-notepad'></i>
                        <div data-i18n="Analytics">OTS</div>
                    </a>
                    <ng-template #LoadingOts>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                        <div class="row px-4 py-2">
                            <div class="col-2">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="circle"
                                    [theme]="{ margin: '0px', height:'20px', width:'20px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="col-10">
                                <ngx-skeleton-loader count="1" animation="pulse" appearance="line"
                                    [theme]="{ margin: '0px',}"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ng-container>
        </ul>
    </aside>
</div>

<!-- / Menu -->