/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
.mat-mdc-form-field {
    margin-top: 16px;
  }

.bg-custom-gray {
  background-color: #EEEEEE
}

.bg-custom-light-violet {
  background-color: #D0A2F7
}

.bg-custom-subtask-si {
  background-color: #F1EAFF
}

.my-popup-class {
  z-index: 9999; /* Define your desired z-index value */
}